<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*"
      Name="PeerCastStation Service"
      Language="1041"
      Version="!(bind.FileVersion.$(var.PecaStationd.TargetFileName))"
      Manufacturer="pecastation.org"
      UpgradeCode="5b0f0db9-4cd2-4640-8b49-5a8132d33ddf">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>

    <Feature Id="Service" Title="PeerCastStationサービス" Level="1" Absent="disallow" AllowAdvertise="no" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="PecaStationd"/>
      <ComponentGroupRef Id="PeerCastStation.Core"/>
      <ComponentGroupRef Id="PeerCastStation.PCP"/>
      <ComponentGroupRef Id="PeerCastStation.HTTP"/>
      <ComponentGroupRef Id="PeerCastStation.ASF"/>
      <ComponentGroupRef Id="PeerCastStation.FLV"/>
      <ComponentGroupRef Id="PeerCastStation.MKV"/>
      <ComponentGroupRef Id="PeerCastStation.UI"/>
      <ComponentGroupRef Id="PeerCastStation.UI.HTTP"/>
      <ComponentGroupRef Id="PeerCastStation.TS"/>
      <ComponentGroupRef Id="PeerCastStation.CustomFilter"/>
    </Feature>

    <Feature Id="Menu" Title="プログラムメニューの追加" Level="1" AllowAdvertise="no">
      <ComponentRef Id="ProgramMenu"/>
    </Feature>

    <Property Id="INSTALLED">
      <RegistrySearch
        Id="InstallDir"
        Root='HKCU'
        Key='Software\[Manufacturer]\[ProductName]'
        Name='InstallDir'
        Type='directory'/>
    </Property>
    <SetProperty After='AppSearch' Id='INSTALLFOLDER' Value='[INSTALLED]' Sequence='first'>NOT INSTALLFOLDER</SetProperty>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="PeerCastStation HTML UIを開く" />
    <Property Id="WixShellExecTarget" Value="http://127.0.0.1:7144/" />
    <CustomAction Id="OpenHTMLUIAction" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    <UIRef Id="WixUI_MyMondo"/>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="PeerCastStationService" />
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenu" Name="PeerCastStationサービス">
          <Component Id="ProgramMenu" Guid="7C056F91-DFA5-4FAC-9BE9-4595AFB10164">
            <util:InternetShortcut
              Id="HTMLUIStartMenuShortcut"
              Name="PeerCastStation HTML UI"
              Target="http://127.0.0.1:7144/"
              Type="url"/>
            <RemoveFolder Id='ProgramMenu' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Name='InstallDir' Type='string' Value='[INSTALLFOLDER]'/>
          </Component>

        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <UI Id="WixUI_MyMondo">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Mondo" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="OpenHTMLUIAction">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="SetupTypeDlg">NOT Installed AND NOT PATCH</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>

      <Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg" Control="TypicalButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg" Control="CustomButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg" Control="CompleteButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="SetupTypeDlg" Order="2">WixUI_InstallMode = "InstallCustom"</Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="1">WixUI_InstallMode = "InstallCustom"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="SetupTypeDlg" Order="2">WixUI_InstallMode = "InstallTypical" OR WixUI_InstallMode = "InstallComplete"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="3">WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="4">WixUI_InstallMode = "Repair" OR WixUI_InstallMode = "Remove"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">WixUI_InstallMode = "Update"</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
    </UI>

    <UIRef Id="WixUI_Common" />
  </Fragment>
</Wix>