<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="DefaultListenAddress" value="0.0.0.0"/>
    <add key="DefaultListenPort" value="7144"/>
    <add key="AgentName" value="PeerCastStation/1.9.1.0"/>
    <add key="UpdateURL" value="http://www.pecastation.org/files/appcast-dev.xml"/>
    <add key="CurrentVersion" value="2015-1-29"/>
    <add key="InstallerType" value="archive"/>
    <add key="BandwidthChecker" value="http://api.pecastation.org/bandwidth"/>
    <add key="PCPPortChecker" value="http://api.pecastation.org/portcheck"/>
  </appSettings>
</configuration>
