<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PeerCastStation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PeerCastStation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <PeerCastStation.Properties.Settings>
      <setting name="BroadcastID" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
    </PeerCastStation.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <PeerCastStation.Properties.Settings>
      <setting name="DefaultListenAddress" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="DefaultListenPort" serializeAs="String">
        <value>7144</value>
      </setting>
    </PeerCastStation.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>
