<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PeerCastStation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <PeerCastStation.Properties.Settings>
      <setting name="BroadcastID" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="ChannelCleanerInactiveLimit" serializeAs="String">
        <value>1800000</value>
      </setting>
    </PeerCastStation.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="DefaultListenAddress" value="0.0.0.0" />
    <add key="DefaultListenPort" value="7144" />
    <add key="AgentName" value="PeerCastStation/1.9.2"/>
    <add key="UpdateURL" value="http://www.pecastation.org/files/appcast-dev.xml"/>
    <add key="CurrentVersion" value="2015-4-29"/>
    <add key="InstallerType" value="installer" />
    <add key="BandwidthChecker" value="http://api.pecastation.org/bandwidth" />
    <add key="PCPPortChecker" value="http://api.pecastation.org/portcheck" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" />
  </startup>
</configuration>
