---
image:
  - Visual Studio 2022
  - Ubuntu2004

version: 3.1.0.{build}
environment:
  GITHUB_ACTOR: kumaryu
  GITHUB_CR_TOKEN:
    secure: 4ZKkbwwriImTNatsCmqVWNFOsObxDOfbenDzznEtCtfwqqOctigBAOvgbwM9Ll9c
configuration: Release

for:
- matrix:
    only:
      - image: Visual Studio 2022

  install:
  - cmd: |-
      set PATH=C:\Ruby27-x64\bin;%PATH%
      gem install -N jekyll

  before_build:
  - cmd: |-
      ruby bumpversion.rb %APPVEYOR_BUILD_VERSION%
      cd doc\help
      jekyll build
      cd ..\..
      dotnet restore PeerCastStation/PeerCastStation.sln

  build_script:
  - cmd: |-
      dotnet build -p:Configuration=%CONFIGURATION% -p:"Platform=x86" PeerCastStation/PeerCastStation.sln
      dotnet build -p:Configuration=%CONFIGURATION% -p:"Platform=x64" PeerCastStation/PeerCastStation.sln
      dotnet publish -c %CONFIGURATION% --self-contained -r win-x64 -o win-x64 PeerCastStation/PeerCastStation/PeerCastStation.csproj
      dotnet publish -c %CONFIGURATION% --self-contained -r win-x64 -o win-x64 PeerCastStation/PecaStationd/PecaStationd.csproj
      dotnet publish -c %CONFIGURATION% --self-contained -r win-x86 -o win-x86 PeerCastStation/PeerCastStation/PeerCastStation.csproj
      dotnet publish -c %CONFIGURATION% --self-contained -r win-x86 -o win-x86 PeerCastStation/PecaStationd/PecaStationd.csproj

  test_script:
    - dotnet test "PeerCastStation/PeerCastStation.Test/PeerCastStation.Test.fsproj" -c %CONFIGURATION% 

  artifacts:
  - path: win-x64
    name: PeerCastStation-$(APPVEYOR_BUILD_VERSION)-win-x64
  - path: win-x86
    name: PeerCastStation-$(APPVEYOR_BUILD_VERSION)-win-x86
  - path: PeerCastStation/PecaStationdInstaller/bin/$(CONFIGURATION)/en-US/PecaStationd-$(APPVEYOR_BUILD_VERSION)-x86.msi
    name: PecaStationd-$(APPVEYOR_BUILD_VERSION)-x86-en-US.msi
  - path: PeerCastStation/PecaStationdInstaller/bin/$(CONFIGURATION)/ja-JP/PecaStationd-$(APPVEYOR_BUILD_VERSION)-x86.msi
    name: PecaStationd-$(APPVEYOR_BUILD_VERSION)-x86-ja-JP.msi
  - path: PeerCastStation/PecaStationdInstaller/bin/$(CONFIGURATION)/en-US/PecaStationd-$(APPVEYOR_BUILD_VERSION)-x64.msi
    name: PecaStationd-$(APPVEYOR_BUILD_VERSION)-x64-en-US.msi
  - path: PeerCastStation/PecaStationdInstaller/bin/$(CONFIGURATION)/ja-JP/PecaStationd-$(APPVEYOR_BUILD_VERSION)-x64.msi
    name: PecaStationd-$(APPVEYOR_BUILD_VERSION)-x64-ja-JP.msi
  - path: PeerCastStation/PeerCastStationInstaller/bin/$(CONFIGURATION)/en-US/PeerCastStation-$(APPVEYOR_BUILD_VERSION)-x86.msi
    name: PeerCastStation-$(APPVEYOR_BUILD_VERSION)-x86-en-US.msi
  - path: PeerCastStation/PeerCastStationInstaller/bin/$(CONFIGURATION)/ja-JP/PeerCastStation-$(APPVEYOR_BUILD_VERSION)-x86.msi
    name: PeerCastStation-$(APPVEYOR_BUILD_VERSION)-x86-ja-JP.msi
  - path: PeerCastStation/PeerCastStationInstaller/bin/$(CONFIGURATION)/en-US/PeerCastStation-$(APPVEYOR_BUILD_VERSION)-x64.msi
    name: PeerCastStation-$(APPVEYOR_BUILD_VERSION)-x64-en-US.msi
  - path: PeerCastStation/PeerCastStationInstaller/bin/$(CONFIGURATION)/ja-JP/PeerCastStation-$(APPVEYOR_BUILD_VERSION)-x64.msi
    name: PeerCastStation-$(APPVEYOR_BUILD_VERSION)-x64-ja-JP.msi

- matrix:
    only:
      - image: Ubuntu2004

  services:
    - docker

  install:
    - rvm use 2.7

  before_build:
    - ruby bumpversion.rb $APPVEYOR_BUILD_VERSION
    - docker run --rm --volume=`pwd`:/srv/jekyll -t jekyll/jekyll jekyll build --config doc/help/_config.yml -s doc/help -d PeerCastStation/PeerCastStation.UI.HTTP/help

  build_script:
    - dotnet build -p:Configuration=%CONFIGURATION% -p:"Platform=AnyCPU" PeerCastStation/PeerCastStation.sln
    - dotnet publish -c %CONFIGURATION% -p:"Platform=AnyCPU" --no-self-contained -r any -o any PeerCastStation/PeerCastStation/PeerCastStation.csproj
    - docker build --rm -t ghcr.io/$GITHUB_ACTOR/peercaststation:$APPVEYOR_BUILD_VERSION -f PeerCastStation/PeerCastStation/Dockerfile PeerCastStation/
    - docker build --rm -t ghcr.io/$GITHUB_ACTOR/peercaststation:$APPVEYOR_BUILD_VERSION-test -f PeerCastStation/PeerCastStation/Dockerfile PeerCastStation/ --target test
    - docker save -o peercaststation-$APPVEYOR_BUILD_VERSION.tar ghcr.io/$GITHUB_ACTOR/peercaststation:$APPVEYOR_BUILD_VERSION

  test_script:
    - dotnet test "PeerCastStation/PeerCastStation.Test/PeerCastStation.Test.fsproj" -c %CONFIGURATION% 
  #  - docker run -t --rm ghcr.io/$GITHUB_ACTOR/peercaststation:$APPVEYOR_BUILD_VERSION-test

  deploy_script:
    - echo $GITHUB_CR_TOKEN | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin
    - docker push ghcr.io/$GITHUB_ACTOR/peercaststation:$APPVEYOR_BUILD_VERSION

  artifacts:
    - path: peercaststation-$(APPVEYOR_BUILD_VERSION).tar
    - path: any
      name: PeerCastStation-$(APPVEYOR_BUILD_VERSION)-any

