---
image: Visual Studio 2017
version: 2.9.1.{build}
configuration: Release
install:
- cmd: |-
    set PATH=C:\Ruby26\bin;%PATH%
    gem install jekyll
before_build:
- cmd: |-
    ruby bumpversion.rb %APPVEYOR_BUILD_VERSION%
    cd doc\help
    jekyll build
    cd ..\..
    nuget restore PeerCastStation\PeerCastStation.sln
build:
  verbosity: minimal
artifacts:
- path: PeerCastStation/PeerCastStation/bin/$(CONFIGURATION)
  name: PeerCastStation-$(APPVEYOR_BUILD_VERSION)
- path: PeerCastStation/PecaStationd/bin/$(CONFIGURATION)
  name: PecaStationd-$(APPVEYOR_BUILD_VERSION)
- path: PeerCastStation/PecaStationdInstaller/bin/$(CONFIGURATION)/PecaStationd-$(APPVEYOR_BUILD_VERSION).msi
  name: PecaStationd-$(APPVEYOR_BUILD_VERSION).msi
- path: PeerCastStation/SetupBundle/bin/$(CONFIGURATION)/PeerCastStation-$(APPVEYOR_BUILD_VERSION).exe
  name: PeerCastStation-$(APPVEYOR_BUILD_VERSION).exe
