body {
	background-color: #FFFFF4;
}
section {
	border-width: 1px;
	border-bottom-style: solid;
}
pre code {
	background-color: #CCCCCC;
	padding: 4px;
}
p {
	text-indent: 1em;
}
dd.a {
	margin-left: 0px;
	list-style-type: circle;
}
dt.q {
	font-weight: bold;
}
li {
	margin: 0.5em;
}
dl p {
	text-indent: 0em;
}
dl {
	margin-left: 1em;
}
ul {
	margin-left: 1em;
}
