<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="DefaultListenAddress" value="0.0.0.0" />
    <add key="DefaultListenPort" value="7144" />
    <add key="AgentName" value="PeerCastStation/2.3.8.0"/>
    <add key="UpdateURL" value="http://www.pecastation.org/files/appcast-dev.xml"/>
    <add key="CurrentVersion" value="2017-6-2"/>
    <add key="InstallerType" value="ServiceInstaller" />
    <add key="BandwidthChecker" value="http://api.pecastation.org/bandwidth" />
    <add key="PCPPortChecker" value="http://api.pecastation.org/portcheck" />
  </appSettings>
</configuration>
