<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MaxPendingConnections" value="20" />
    <add key="DefaultListenAddress" value="0.0.0.0" />
    <add key="DefaultListenPort" value="7144" />
    <add key="AgentName" value="PeerCastStation/4.1.0.0"/>
    <add key="UpdateURL" value="https://www.pecastation.org/files/appcast2.xml"/>
    <add key="CurrentVersion" value="2022-10-7"/>
    <add key="InstallerType" value="ServiceInstaller" />
    <add key="BandwidthChecker" value="http://api.pecastation.org/bandwidth" />
    <add key="BandwidthCheckerV6" value="http://v6.api.pecastation.org/bandwidth" />
    <add key="PCPPortChecker" value="http://api.pecastation.org/portcheck" />
    <add key="PCPPortCheckerV6" value="http://v6.api.pecastation.org/portcheck" />
  </appSettings>
</configuration>
