<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.CustomFilter.Binaries">
            <ComponentRef Id="cmp186FD8CCBA9F98429AD156F988032AB0" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.CustomFilter.Satellites" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.CustomFilter.Content" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.CustomFilter">
            <Component Id="cmp186FD8CCBA9F98429AD156F988032AB0" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filEFB2C21160B25CF86537EEB835FA36A8" Source="$(var.PeerCastStation.CustomFilter.TargetDir)\PeerCastStation.CustomFilter.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>