<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.FLV.Binaries">
            <ComponentRef Id="cmp2572BDDDBAAE0338E9FDA4A87D455CE8" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.FLV.Satellites" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.FLV.Content" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.FLV">
            <Component Id="cmp2572BDDDBAAE0338E9FDA4A87D455CE8" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filD0AD5853A8610AD2F02EE1FD35771B29" Source="$(var.PeerCastStation.FLV.TargetDir)\PeerCastStation.FLV.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>