<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.WPF.Binaries">
            <ComponentRef Id="cmpD799C791578582DDDEC99AC0F0BB144D" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.WPF.Satellites" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.WPF.Content" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.WPF">
            <Component Id="cmpD799C791578582DDDEC99AC0F0BB144D" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filA89119DF8C25B3ACE9423FA4619EF2C0" Source="$(var.PeerCastStation.WPF.TargetDir)\PeerCastStation.WPF.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>