<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.App.Binaries">
            <ComponentRef Id="cmpAB879AB612CD4A61A9372BBB25E6FC9A" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.App.Satellites" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.App.Content" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.App">
            <Component Id="cmpAB879AB612CD4A61A9372BBB25E6FC9A" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filF2F311A61DE47E46DB3138C387AE272D" Source="$(var.PeerCastStation.App.TargetDir)\PeerCastStation.App.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>