<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.MKV.Binaries">
            <ComponentRef Id="cmpB5D97CA9B2E7FC758B726EB55E00BEA6" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.MKV.Content" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.MKV">
            <Component Id="cmpB5D97CA9B2E7FC758B726EB55E00BEA6" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil1D096FA5E2B796F4C0D3AFDA4F7BB0C8" Source="$(var.PeerCastStation.MKV.TargetDir)\PeerCastStation.MKV.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>