<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.App.Binaries">
            <ComponentRef Id="cmpBC5645B4F70C1ED94C4CED7EC4AB5521" />
            <ComponentRef Id="cmp5FC966311E43EA86278A3D0A5F95535B" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.App.Satellites" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.App.Content" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.App">
            <Component Id="cmpBC5645B4F70C1ED94C4CED7EC4AB5521" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil6C3108EC436678F99652BBCEEF34A130" Source="$(var.PeerCastStation.App.TargetDir)\PeerCastStation.App.exe" />
            </Component>
            <Component Id="cmp5FC966311E43EA86278A3D0A5F95535B" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil0C1290F17409410978822449B3725F74" Source="$(var.PeerCastStation.App.TargetDir)\PeerCastStation.App.exe.config" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>