<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.UI.Binaries">
            <ComponentRef Id="cmp8A29E7FA5E7F81DF8EC0D2110F6442B9" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.UI.Content" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.UI">
            <Component Id="cmp8A29E7FA5E7F81DF8EC0D2110F6442B9" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filB85EA9C0693475E9A12C512D3168611C" Source="$(var.PeerCastStation.UI.TargetDir)\PeerCastStation.UI.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>