<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.TS.Binaries">
            <ComponentRef Id="cmp8E429469A0E94A1F33A8C72FC37C514A" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.TS.Satellites" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.TS.Content" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.TS">
            <Component Id="cmp8E429469A0E94A1F33A8C72FC37C514A" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil37EB671CF7F55C82E04C124DABDA9EAB" Source="$(var.PeerCastStation.TS.TargetDir)\PeerCastStation.TS.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>