<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.Updater.Binaries">
            <ComponentRef Id="cmp1390667FA7B7C2FF1E1CF86288D8A7DE" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.Updater.Satellites" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.Updater.Content" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.Updater">
            <Component Id="cmp1390667FA7B7C2FF1E1CF86288D8A7DE" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filA4AFAE9AA2CE97050F3D67E42950E074" Source="$(var.PeerCastStation.Updater.TargetDir)\PeerCastStation.Updater.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>