<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.PCP.Binaries">
            <ComponentRef Id="cmpDE6945FE3F9735AFCAEDDAA4B56073B7" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.PCP.Content" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PeerCastStation.PCP">
            <Component Id="cmpDE6945FE3F9735AFCAEDDAA4B56073B7" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil9578AC503E615B4CA292CFF9A67E0197" Source="$(var.PeerCastStation.PCP.TargetDir)\PeerCastStation.PCP.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>