
.alerts {
  position: fixed;
  top: 60px;
  right: 30px;
  left: auto;
  min-width: 100px;
}

.close-inline {
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close-inline:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.label-not-relayable {
  background-color: #f80694;
}

.label-not-relayable:hover {
  background-color: #c60576;
}

ul.relayTree {
  list-style: none;
}

.relayable {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/relay_icon_0.png");
}
.relayFull {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/relay_icon_1.png");
}
.notRelayable {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/relay_icon_2.png");
}
.firewalled {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/relay_icon_3.png");
}
.firewalledRelaying {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/relay_icon_4.png");
}
.unknown {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/relay_icon_5.png");
}
.notReceiving {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/relay_icon_6.png");
}
.connectionToRoot {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/relay_icon_7.png");
}
.connectionToTracker {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/relay_icon_8.png");
}
