
.hidden {
  display:none;
}

.alerts {
  position: fixed;
  top: 60px;
  right: 30px;
  left: auto;
  min-width: 100px;
}

.close-inline {
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close-inline:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.label-not-relayable {
  background-color: #f80694;
}

.label-not-relayable:hover {
  background-color: #c60576;
}

ul.relayTree {
  list-style: none;
}

.relayable {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/relay_icon_0.png");
}
.relayFull {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/relay_icon_1.png");
}
.notRelayable {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/relay_icon_2.png");
}
.firewalled {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/relay_icon_3.png");
}
.firewalledRelaying {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/relay_icon_4.png");
}
.unknown {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/relay_icon_5.png");
}
.notReceiving {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/relay_icon_6.png");
}
.connectionToRoot {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/relay_icon_7.png");
}
.connectionToTracker {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/relay_icon_8.png");
}

.source-tracker {
  font-weight: 800;
}

.channel-list {
  table-layout: auto;
}

.channel-list th {
  font-weight: normal;
}

.channel-column {
  height:20px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.sorted {
  font-weight: bold;
}

.ui-grid {
  display:table;
  table-layout:auto;
}

.ui-header {
  padding:0px 2px 0px 4px;
  display:table-cell;
  font-weight:800;
}

.ui-label {
  padding:0px 2px 0px 4px;
  display:table-cell;
  text-align:right;
}

.ui-control {
  width:auto;
  display:table-cell;
}

.ui-control button {
  margin-bottom:10px;
}

.ui-row {
  display:table-row;
}

.channel-list {
  display:flex;
  flex-flow:column;
}

.channel-list thead,
.channel-list tfoot,
.channel-list tbody {
  display:flex;
  flex-flow:column;
}

.channel-list tr {
  display:flex;
  flex-flow:row;
}

.channel-list th {
  display:block;
}

.channel-list td {
  display:block;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  height:22px;
}
.channel-list .column-play      { width:1em; }
.channel-list .column-name      { flex:16; }
.channel-list .column-genre     { flex:8; }
.channel-list .column-desc      { flex:40; }
.channel-list .column-bitrate   { width:4em; }
.channel-list .column-uptime    { width:4em; }
.channel-list .column-listeners { width:4em; }
.channel-list .column-type      { width:4em; }
.channel-list .column-yp        { width:2em; }
.channel-list .column-tags      { width:30px; }

.channel-list .column-play .btn-play {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-right-radius: 0px;
          border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
          border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
}

.channel-list .column-play .btn-menu {
  margin-left:  -1px;
  padding-right: 5px;
  padding-left:  5px;
  -webkit-border-bottom-left-radius: 0px;
          border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
          border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright:4px;
}

.channel-list tbody tr.selected td {
  background-color: #c5c5c5;
}

.toolbar {
  width:100%;
  height:38px;
  background-color: #fafafa;
  border-bottom: 1px solid #dddddd;
}

.toolbar-inner {
  position:relative;
  top:4px;
  right:4px;
  height:30px;
}

.toolbar.affix {
  top:0px;
}

.toolbar form {
  margin:0;
}

.theader {
  width:100%;
  background:white;
}

.theader.affix {
  top:39px;
  border-bottom: 1px solid #dddddd;
}

.filter-tabs {
  margin-bottom: 0px;
}

.filter-tabs > li > a {
  padding-bottom: 5px;
}

