<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>PeerCastStation by kumaryu</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
      <h1 class="header" style="word-wrap:break-word"><a href="index.html">PeerCastStation</a></h1>
        <p class="header">P2P形式の動画ストリーミングソフトウェア</p>

        <ul>
          <li class="download" style="width:auto; height:auto">
          <a class="buttons" href="download-stable.html">安定版ダウンロード<br>Version 1.6.3 (2013年12月23日安定版)</a>
          </li>
          <li class="download" style="width:auto; height:auto">
          <a class="buttons" href="download-dev.html">開発版ダウンロード<br>Version 1.7.10 (2014年5月31日開発版)</a>
          </li>
          <li style="width:auto"><a class="buttons github" href="https://github.com/kumaryu/peercaststation">View On GitHub</a></li>
        </ul>

        <p class="header">This project is maintained by <a class="header name" href="https://github.com/kumaryu">kumaryu</a></p>


      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on <a href="http://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
		
  </body>
</html>
